<%= form_for @period do |f| %>

    <% if @period.errors.any? %>
        <div id="error">
            <h2>
                <%= pluralize(@period.errors.count, "error") %> Prohibited this period from being saved:            
            </h2>
            <ul>
                <% @period.errors.full_messages.each do | msg | %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <p>
        <%= f.label :semester %><br>
        <%= f.select(:semester, options_for_select(['1', '2'], @period.semester),  {}) %>
    </p>
    <p>
        <%= f.label :year %><br>
        <%= f.number_field :year %>
    </p>
    <p>
        <%= f.label :state %><br>
        <%= f.check_box :state, {}, true, false %>
    </p>
    <p>
        <%= f.label :start_date %><br>
        <%= f.date_field :start_date %>
    </p>
    <p>
        <%= f.label :end_date %><br>
        <%= f.date_field :end_date %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>