<h1>Show Period</h1>
<p>
    <strong>Semester:</strong>
    <%= @period.semester %>
</p>
<p>
    <strong>Year:</strong>
    <%= @period.year %>
</p>
<p>
    <strong>State:</strong>
    <%= @period.state %>
</p>
<p>
    <strong>Start date:</strong>
    <%= @period.start_date %>
</p>
<p>
    <strong>End date:</strong>
    <%= @period.end_date %>
</p>

<%= link_to 'Back', periods_path %>