
<div class="modal-body">
  <%= form_for(:schedule, :html => {class: 'form-horizontal'}) do |f| %>
    <div class="form-group">
      <%= f.label :title, 'Descrição', class: 'control-label col-sm-3' %>
      <div class="col-sm-9">
        <%= f.text_field :title, class: 'form-control schedule_title', placeholder: 'Festa da Ana', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :user, 'Solicitante/Professor', class: 'control-label col-sm-3' %>
      <div class="col-sm-9">
        <%= f.text_field :user, class: 'form-control schedule_user', placeholder: 'Maria', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :classroom, 'Sala', class: 'control-label col-sm-3' %>
      <div class="col-sm-9">
        <%= f.text_field :classroom, class: 'form-control schedule_classroom', placeholder: 'A01', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :date_range, 'Período', class: 'control-label col-sm-3' %>
      <div class="col-sm-9">
        <%= f.text_field :date_range, class: 'form-control schedule_date_range', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :frequency, 'Semanas', class: 'control-label col-sm-3' %>
      <div class="col-sm-9">
        <%= f.text_field :frequency, class: 'form-control schedule_frequency', disabled: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :state, 'Status', class: 'control-label col-sm-3' %>
      <div class="col-sm-9">
        <%= f.text_field :state, class: 'form-control schedule_state', disabled: true %>
      </div>
    </div>

    <div class="form-group pull">
      <div class="col-sm-offset-3 col-sm-9">
        <div class="pull-right buttons">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
