<% if @department.errors.any? %>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger">
                <h2>
                    Atenção:
                </h2>
                <ul>
                    <% @department.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
<% end %>
<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">    
            <div class="panel-body"> 
                <%= form_for(@department, :html => {class: 'form-horizontal'}) do |f| %>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div style="border-bottom: 2px solid #ddd;">
                                <% if @department.new_record? %>
                                    <h3><i class="fa fa-plus"></i> Novo Departamento</h3>
                                <% else %>
                                    <h3><i class="fa fa-edit"></i> Editar Departamento</h3>
                                <% end %>  
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 10px">
                        <%= f.label :name, 'Nome', class: 'control-label col-sm-3' %>
                        <div class="col-sm-7">
                            <%= f.text_field :name, class: 'form-control', placeholder: 'Departamento de Informática', autofocus: true %>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <%= f.label :place, 'Local', class: 'control-label col-sm-3' %>
                        <div class="col-sm-7">
                            <%= f.text_field :place, class: 'form-control', placeholder: 'Politécnico' %>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <%= f.label :abbreviation, 'Sigla', class: 'control-label col-sm-3' %>
                        <div class="col-sm-7">
                            <%= f.text_field :abbreviation, class: 'form-control', placeholder: 'INF' %>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <%= f.label :code, 'Código', class: 'control-label col-sm-3' %>
                        <div class="col-sm-7">
                            <%= f.text_field :code, class: 'form-control', placeholder: '123' %>
                        </div>
                    </div>                   
                    <div class="form-group pull"> 
                        <div class="col-sm-offset-3 col-sm-7">
                            <div class="pull-right">
                                <%= link_to 'Voltar', departments_path, class: 'btn btn-danger' %>
                                <% if @department.new_record? %>
                                    <%= f.submit 'Cadastrar', class: 'btn btn-green' %>
                                <% else %>
                                    <%= f.submit 'Editar', class: 'btn btn-green' %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>