<h1>Show Department</h1>

<p>
    <strong>Name:</strong>
    <%= @department.name %>
</p>

<p>
    <strong>Abbreviation:</strong>
    <%= @department.abbreviation %>
</p>

<p>
    <strong>Code:</strong>
    <%= @department.code %>
</p>

<p>
    <strong>Place:</strong>
    <%= @department.place %>
</p>

<%= link_to 'Back', departments_path %>
<%= link_to 'Edit', edit_department_path(@department) %>
