<div class="main-content">
        <% if notice %>
          <div class="row" style="margin-top:60px">
            <div class="col-md-12">
              <p class="alert alert-warning"><%= notice %></p>
            </div>
          </div>
        <% end %>
        <% if alert %>
          <div class="row" style="margin-top:60px">
            <div class="col-md-12">
              <p class="alert alert-danger"><%= alert %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3" >
      <div class="row box" >
        <div class="panel panel-default" style="margin-top:10px">
          <div class="panel-heading" style="background-color:#2d3e50 !important; border-left: 1px solid #ddd">
              <label style="color:#fff" class="control-label" for="salas">Pesquisar por:</label>
          </div>
          <div class="panel-body">
            <form class="form" id="search-classroom">
              <div class="form-group">
                <label class="control-label" for="salas">Sala</label>
                <%= select_tag('classroom', options_from_collection_for_select(@classrooms, :id, :room_capacity), class: 'form-control combo-classroom') %>
              </div>
            </form>
            <form class="form" id="search-calendar">
              <div class="form-group">
                <label class="control-label" for="salas">Data</label>
                <div class="datepicker" style="width: 100%;">

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row box" >
          <div class="col-md-12" >
              <div id="calendar-background">
                  <div id="fullcalendar"></div>
              </div>
          </div>
      </div>
  <% if !current_user.nil? %>
        <div class="modal fade" data-backdrop="static" id="new_event">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Nova Reserva</h4>
              </div>
              <div class="modal-body">
                <%= render 'events/form', event: @event %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="modal fade" id="show_schedule">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Reserva</h4>
            </div>
            <div class="modal-body">
              <%= render 'schedules/show' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

    </div>
</div>
