<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End at:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Reservation:</strong>
  <%= @event.reservation %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @event.frequency %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Klass:</strong>
  <%= @event.klass %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @event.discipline %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @event.classroom %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
