<% if @materiel.errors.any? %>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger">
                <h2>
                    Atenção:
                </h2>
                <ul>
                    <% @materiel.errors.full_messages.each do | msg | %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-10">
        <div class="panel panel-default">    
            <div class="panel-body"> 
                <%= form_for(@materiel, :html => {class: 'form-horizontal'}) do |f| %>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div style="border-bottom: 2px solid #ddd;">
                                <% if @materiel.new_record? %>
                                    <h3><i class="fa fa-plus"></i> Novo Equipamento</h3>
                                <% else %>
                                    <h3><i class="fa fa-edit"></i> Editar Equipamento</h3>
                                <% end %>                                                     
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 10px">
                        <%= f.label :name, '<span style="color:red">*</span> Nome'.html_safe, class: 'control-label col-sm-3' %>
                        <div class="col-sm-7">
                            <%= f.text_field :name, class: 'form-control', placeholder: 'Projetor Epson', autofocus: true %>
                        </div>
                    </div> 
                    <div class="form-group">
                        <%= f.label :patrimony, 'Patrimônio', class: 'control-label col-sm-3' %>
                        <div class="col-sm-7">
                            <%= f.text_field :patrimony, class: 'form-control', placeholder: '20150987' %>
                        </div>
                    </div>
                    <div class="form-group">
                        <%= f.label :room_id, 'Sala', class: 'control-label col-sm-3' %>
                        <div class="col-sm-7">
                             <%= f.collection_select :room_id, Room.all, :id, :room, {include_blank: true} , {class: "form-control"} %>
                        </div>
                    </div>
                    <div class="form-group pull"> 
                        <div class="col-sm-offset-3 col-sm-7">
                            <div class="pull-right">
                                <%= link_to 'Voltar', materiels_path, class: 'btn btn-danger' %>
                                <% if @materiel.new_record? %>
                                    <%= f.submit 'Cadastrar', class: 'btn btn-green' %>
                                <% else %>
                                    <%= f.submit 'Editar', class: 'btn btn-green' %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>