<h1>Show Room</h1>

<p>
    <strong>Place:</strong>
    <%= @room.place %>
</p>

<p>
    <strong>Block:</strong>
    <%= @room.block %>
</p>

<p>
    <strong>Capacity:</strong>
    <%= @room.capacity %>
</p>

<p>
    <strong>Category:</strong>
    <%= @room.category.name %>
</p>

<p>
    <strong>Sate:</strong>
    <%= @room.state %>
</p>

<%= link_to 'Back', rooms_path %>
