<%= form_for([:management, @schedule], :html => {class: 'form-horizontal', :'data-type' => 'json'}, :remote => true) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, 'Descrição', class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Festa da Ana', autofocus: true %>
    </div>
  </div>

  <div class="form-group" style="margin-bottom: 0px;">
    <%= f.hidden_field :start, value: Date.today, class: 'control-label col-sm-3 start_hidden' %>
    <%= f.hidden_field :end, value: Date.today, class: 'form-control end_hidden' %>
  </div>

  <div class="form-group">
    <%= f.label :user, '<span style="color:red">*</span> Solicitante/Professor'.html_safe, class: 'control-label col-sm-3' %>
    <%= f.hidden_field :user_id, value: @currentUser.id, class: 'form-control user_hidden' %>
    <div class="col-sm-9">
      <%= f.text_field :user_name, value: @currentUser.name,  class: 'form-control schedule_user', placeholder: 'Maria', disabled: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :classroom, 'Sala', class: 'control-label col-sm-3' %>
    <%= f.hidden_field :classroom_id, class: 'form-control schedule_classroom' %>
    <div class="col-sm-9">
      <%= f.text_field :classroom, class: 'form-control schedule_classroom_name', placeholder: 'A02', readonly: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date_range, '<span style="color:red">*</span> Período'.html_safe, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.text_field :date_range, class: 'form-control schedule_date_range', disabled: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :frequency, '<span style="color:red">*</span> Semanas'.html_safe, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <%= f.select(:frequency, [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], {}, { :class => 'form-control' }) %>
    </div>
  </div>

  <div class="form-group pull">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="pull-right" id="new_schedule_buttons">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <%= f.submit 'Cadastrar', class: 'btn btn-green', :id => 'new_schedule_button' %>
      </div>
    </div>
  </div>
<% end %>
