<%= render :partial => 'layouts/sidenav', :locals => {:active => 0} %>
<div class="main-content">
  <div class="row">
      <ol class="breadcrumb">
          <li><i class="fa fa-calendar"></i> Reservas</li>
      </ol>
  </div>

  <%= render :partial => 'layouts/flash_notice' %>

  <% if can :import, :schedule %>
    <div class="row">
        <div class="col-sm-2">
            <%= link_to '<span><i class="fa fa-plus"></i></span><span> Importar</span>'.html_safe, new_management_schedule_path, :class => 'btn btn-green' %>
        </div>
    </div>
  <% end %>

  <div class="row box">
      <form role="form" class="form">
          <div class="form-group">
              <label class="control-label" for="salas">Sala</label>
              <%= select_tag('classroom', options_from_collection_for_select(@classrooms, :id, :room_capacity), class: 'form-control combo-classroom') %>
          </div>
      </form>
  </div>
  <div class="row" >
      <div class="col-md-12" >
          <div id="calendar-background">
              <div id="fullcalendar"></div>
          </div>
      </div>
  </div>

  <% if can :new, :schedule %>
    <%= render 'new', event: @schedule %>
  <% end %>
  <% if can :edit, :schedule %>
    <%= render 'show' %>
  <% end %>
</div>
