<%= render :partial => 'layouts/sidenav', :locals => {:active => 0} %>
<div class="main-content">
  <div class="row">
      <ol class="breadcrumb">
          <li><i class="fa fa-calendar"></i> Reservas</li>
      </ol>
  </div>

  <%= render :partial => 'layouts/flash_notice' %>

  <% if can :import, :schedule %>
    <div class="row">
        <div class="col-sm-12">
            <% if @currentUser.role_id == 1 || @currentUser.role_id == 2 %>
              <%= link_to '<span><i class="fa fa-upload"></i></span><span> Importar ensalamento</span>'.html_safe, new_management_schedule_path, :class => 'btn btn-green' %>
              <%= link_to '<span><i class="fa fa-trash"></i></span><span> Remover ensalamento</span>'.html_safe, export_management_schedules_path, :class => 'btn btn-danger' %>
            <% end %>
        </div>
    </div>
  <% end %>

  <div class="row" style="margin-top:15px;">
    <div class="col-md-12">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <h3 class="panel-title">Pesquisar</h3>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="form-group">
                <label class="control-label" for="salas">Sala</label>
                <%= select_tag('classroom', options_from_collection_for_select(@classrooms, :id, :room_capacity), class: 'form-control combo-classroom') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" >
      <div class="col-md-12" >
          <div id="calendar-background">
              <div id="fullcalendar"></div>
          </div>
      </div>
  </div>

  <% if can :new, :schedule %>
    <%= render 'new', event: @schedule %>
  <% end %>
  <% if can :edit, :schedule %>
    <%= render 'show' %>
  <% end %>
</div>
